@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

 @keyframes scan {
   0% { left: -100%; }
100% { left: 100%; }
}
.animate-scan { animation: scan 3s linear infinite; }